[Unit]
Description=Service to start the arpirobot program
After=lastcommands.service

[Service]
Type=simple
User=arpirobot
ExecStart=/usr/local/bin/arpirobot-launch.sh

[Install]
WantedBy=custom.target